/* Fontlar */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap'); /* 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap'); /* 'Concert One', cursive; */

body{
    background-image: url(../img/wallpaper4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

/* Box */
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .1);
}
.box .element1{
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
}
.box .element1 > h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bolder;
    color: black;
}
.box .element1 > p{
    font-family: 'Concert One', cursive;
    font-weight: bolder;
    color: gray;
    font-style: italic;
    opacity: .7;
}
.box .element2{
    margin-bottom: 20px;
}
.box .element2 > img{
    width: 400px;
}
.box .element3{
    margin-bottom: 20px;
    padding: 8px;
}
.box .element3 .social{
    display: flex;
    justify-content: center;
}
.box .element3 a{
    color: black;
    font-size: 20px;
    transition: 250ms all;
    border-radius: 500%;
    background-color: black;
    color: white;
    margin-left: 7px;
    margin-right: 7px;
    padding: 10px;
}
.box .element3 a:hover{
    transform: scale(1.1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .1);
}